.quadrados {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    justify-content: space-evenly;
    border: 10px solid black;
}

.box {
    width: 200px;
    height: 200px;
    margin: 10px;
    float: left;
    box-sizing: border-box;
}

.box:nth-of-type(even) {
    background-color: greenyellow;
    border: 10px solid green;
}

.box:nth-of-type(odd) {
    background-color: darkblue;
    border: 10px solid gold;
}