body {
    background-color: wheat;
}

.beat {
    width: 50%;
    margin: auto;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: darkblue;
    background-color: aliceblue;
    border-radius: 8px;
}

.hamon {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.stand {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 15px;
}
